body {
    background-color: #5F9EA0;
    font-family: "Arial";
}

#map-row {
    margin-left: 100px;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#hover-div {
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
    margin-bottom: 700px;
    border-radius: 6px;
    opacity: 0.8;
    padding: 10px;
}

#hover-state {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

#map {
    display: inline-block;
}
